<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orangechain.laplace">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.basehelper.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".luncher.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".luncher.ADLuncherActivity" />
        <activity android:name=".activity.IndexActivity" />
        <activity
            android:name=".activity.guideregistration.CreatIdentityActivity"
            android:label="@string/title_activity_creat_identity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.guideregistration.FingerprintOpenActivity" />
        <activity android:name=".activity.guideregistration.LeadInIdentityActivity" />
        <activity android:name=".activity.guideregistration.BackupsIdentityActivity" />
        <activity android:name=".activity.guideregistration.BackupsIdentityActionActivity" />
        <activity android:name=".activity.guideregistration.BackupsQRCodeActivity" />
        <activity android:name=".base.BaseBottomNavigationActivity" />
        <activity android:name=".activity.identity.activity.SystemSettingActivity" />
        <activity android:name=".activity.identity.activity.LanguageSettingActivity" />
        <activity android:name=".activity.identity.activity.PushSettingActivity" />
        <activity android:name=".activity.identity.activity.AuthenticationActivity" />
        <activity android:name=".activity.identity.activity.AuthenticationProcessActivity" />
        <activity android:name=".activity.identity.activity.MessageIdActivity" />
        <activity android:name=".activity.guideregistration.QRCodeActivity" />
        <activity android:name=".activity.googleverify.activity.AuthPhoneActivity" />
        <activity android:name=".activity.monitoringcenter.activity.CoinUnusualActivity" />
        <activity android:name=".activity.monitoringcenter.activity.CoinUpAndDownActivity" />
        <activity android:name=".activity.monitoringcenter.activity.CoinExchangeKnockdownActivity" />
        <activity android:name=".activity.monitoringcenter.activity.CoinRemindActivity" />
        <activity android:name=".activity.monitoringcenter.activity.CoinRemindSettingActivity" />
        <activity android:name=".activity.pay.activity.PayAddCardActivity" />
        <activity android:name=".activity.pay.activity.PayOperatarSelectActivity" />
        <activity android:name=".activity.pay.activity.PayCardTypeActivity" />
        <activity android:name=".activity.pay.activity.PayCardAuthActivity" />
        <activity android:name=".activity.pay.activity.CardMessageActivity"></activity>
    </application>

</manifest>